<VirtualHost *:80>
    ServerAdmin info@1024.lu
    DocumentRoot /var/www/web    

    SetEnv APP_ENV dev

    php_value display_errors On
   
    <Directory /var/www/web>
            Options -Indexes FollowSymLinks MultiViews

            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^ /index.php [L]
            
            AllowOverride None
            Order allow,deny
            allow from all
    </Directory>

    CustomLog ${APACHE_LOG_DIR}/access.log combined
    ErrorLog ${APACHE_LOG_DIR}/error.log
    LogLevel warn

</VirtualHost>